@use '@tetherto/mdk-react-devkit/styles' as *;
@use '../../../../utils/reporting-panel' as reporting-panel;

.mdk-hashrate-site-view {
  @include flex_column;

  gap: 16px;
}

.mdk-hashrate-site-view__controls {
  @include flex_align;

  gap: 12px;
  flex-wrap: wrap;
}

.mdk-hashrate-site-view__panel {
  @include reporting-panel.reporting-panel-base;
}
