@use '@tetherto/mdk-react-devkit/styles' as *;
@use '../../../../utils/reporting-panel' as reporting-panel;

.mdk-hashrate-mining-unit-view {
  @include flex_column;

  gap: 16px;
}

.mdk-hashrate-mining-unit-view__header {
  @include flex_align_between;

  padding-bottom: 16px;
  border-bottom: 1px solid rgba(var(--mdk-color-white-rgb), 0.1);
}

.mdk-hashrate-mining-unit-view__title {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-mono);
  color: var(--mdk-color-white);
}

.mdk-hashrate-mining-unit-view__controls {
  @include flex_align;

  gap: 12px;
  flex-wrap: wrap;
}

.mdk-hashrate-mining-unit-view__panel {
  @include reporting-panel.reporting-panel-base;
}
