@use '@tetherto/mdk-react-devkit/styles' as *;

.mdk-energy-report {
  @include flex_column;

  gap: 16px;

  &__date-controls {
    @include flex_align;

    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 16px;
    padding-block: 16px;
    justify-content: space-between;
    border-bottom: 1px solid var(--mdk-color-white-transparent);
  }
}
