:root {
  // Power mode colors
  --mdk-power-mode-sleep-color: var(--mdk-color-sleep-blue);
  --mdk-power-mode-low-color: var(--mdk-color-dark-green);
  --mdk-power-mode-normal-color: var(--mdk-color-strong-green);
  --mdk-power-mode-high-color: var(--mdk-color-mint-green);
}
