@use '@primitives/styles/mixins' as *;

.mdk-efficiency-site-view {
  @include flex_column;

  gap: 16px;

  &__controls {
    @include flex_align_between;

    padding-bottom: 16px;
    border-bottom: 1px solid rgba(var(--mdk-color-white-rgb), 0.1);
  }

  &__chart-header {
    @include flex_column;

    gap: 2px;
    padding-bottom: 12px;
  }

  &__chart-title {
    @include flex_align;

    gap: 5px;
    font-size: 16px;
    font-weight: 500;
    color: var(--mdk-color-white);
  }

  &__chart-icon {
    @include flex_align;

    cursor: help;
  }

  &__chart-sublabel {
    font-size: 12px;
    color: rgba(var(--mdk-color-white-rgb), 0.5);
  }

  &__chart-value {
    @include flex_align;

    gap: 10px;
    margin-top: 4px;
  }

  &__chart-number {
    font-size: 25px;
    font-weight: 600;
    color: var(--mdk-color-primary);
  }

  &__chart-unit {
    font-size: 20px;
    font-weight: 500;
    color: var(--mdk-color-white-7);
  }

  &__chart {
    min-height: 250px;
    width: 100%;
    flex: 1;
  }
}
